%html
  %head
    %title Is It Shabbos Yet?
    %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"}
    :javascript
      $(document).ready(function() { $.getJSON('/zipcode/11211', function(data) { $("h1").text(data.h1).load(); $("h2").text(data.h2).load(); }); });
  %body
    %results
      %h1 Loading...
      %h2
        = @why
    %div.myForm
      Enter your zipcode:
      %form{:method => "get", :action => "javascript:jQuery.noop();"}
        %input{:name => "zipcode", :value => "11211"}
        %input{:type => "submit", :value => "Go"}
    :javascript
      $("input:first").focus(function () { $(this).attr('value', ''); });
    :javascript
      $("form").submit(function() { 
        $.getJSON('/zipcode/' + $("input:first").val(), function(data) {
          $("h1").text(data.h1).load();
          $("h2").text(data.h2).load();
        });
      });
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20145614-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
